body {
  background-color: rgb(247, 247, 247);
}

img {
  width: 25px;
  height: 25px;
}

#nba-logo {
  width: 19px;
  height: 42px;
}

ul {
  list-style-type: none;
}

ul .east {
  text-align: right;
}

ul .west {
  text-align: left;
}

.series {
  padding: 0px;
}

.top-team {
  border-top: 2px solid #090;
  border-right: 2px solid #090;
  width: 80%;
  height: 25%;
  float: left;
  position: absolute;
  top: 25%;
}

.bottom-team {
  border-bottom: 2px solid #f00;
  border-right: 2px solid #f00;
  width: 80%;
  height: 25%;
  float: left;
  position: absolute;
  top: 50%;
}

.winner {
  border-top: 2px solid #090;
  width: 20%;
  margin-left: 80%;
  float: right;
  position: absolute;
}

span {
  display: inline;
}
