body {
  background-color: rgb(247, 247, 247);
}

img {
  width: 25px;
  height: 25px;
}

ul {
  list-style-type: none;
}

ul .east {
  text-align: right;
}

ul .west {
  text-align: left;
}

span {
  display: inline;
}
