body {
  background-color: rgb(247, 247, 247);
}

img {
  width: 30px;
  height: 30px;
  margin: 5px 5px;
  z-index: 2;
  position: relative;
}

#nba-logo {
  width: 19px;
  height: 42px;
}

li.game.winner-top {
  border-top: 2px solid #090;
}
li.game.winner-bottom {
  border-bottom: 2px solid #090;
}

li.game.looser-top {
  border-top: 2px solid red;
}
li.game.looser-bottom {
  border-bottom: 2px solid red;
}

span {
  display: inline;
}

/* STYLES TAKEN FROM https://codepen.io/aronduby/pen/qliuj */
/*
 *  Flex Layout Specifics
*/
main {
  display: flex;
  flex-direction: row;
}
.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  list-style: none;
  padding: 0;
}
.round .spacer {
  flex-grow: 1;
}
.round .spacer:first-child,
.round .spacer:last-child {
  flex-grow: 0.5;
}

.round .game-spacer {
  flex-grow: 1;
  z-index: 0;
}
/*
 *  General Styles
*/
body {
  font-family: sans-serif;
  font-size: small;
  padding: 10px;
  line-height: 1.4em;
}

li.game {
  padding-left: 20px;
}

li.game span {
  float: right;
  margin-right: 5px;
}

li.game-spacer {
  border-right: 1px solid #aaa;
  min-height: 40px;
}

li.game-bottom {
  border-right: 1px solid #aaa;
  border-bottom: 2px solid #aaa;
  padding-top: 15px;
}

li.game-top {
  border-right: 1px solid #aaa;
  border-top: 2px solid #aaa;
  padding-bottom: 15px;
}

li.game-champion {
  border-bottom: 2px solid #aaa;
  padding-top: 15px;
}
